.bottom-panel {
    display: flex;
    position: fixed;
    bottom: 16px;
    right: 0;
    left: 0;
    min-width: 200px;
    min-height: 64px;
    flex-direction: row;
    border-radius: 16px;
    transition: all 125ms ease-in-out;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    padding: 2vh;

    > * {
        pointer-events: all;
        margin: 16px !important;
    }

    button {
        height: 30px;
        margin: 4px;
    }
}