p.callout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #9d9df05b;
    color:#1f1f58;
    margin: 4px;
    padding: 16px 16px 16px 12px;
    border-radius: 8px;
    font-size: 90%;

    &.warning {
        background: #f0c29d5b;
        color:#58441f;
        border: 1px solid #58441f1c;
        > span:first-child {
            color:rgba(255, 136, 0, 0.925);
        }

    }

    &.success {
        background: #98e398;
        color:rgb(0, 77, 0);
    }

    > span:first-child {
        margin: 8px;
    }
}