.context-menu {
    position: absolute;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px #47608640;
    font-size: 14px;
    overflow: hidden;
    z-index: 9999999;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding: 12px 12px;
            cursor: default;

            &:hover {
                background: #f6f8fa;
            }
        }
    }
}