.datatable {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    overflow-y: auto;
    padding-bottom: 10px;

    table {
        width: 100%;
        td, th {
            padding: 6px;

            &.ellipsis {
                max-width: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        th {
            color: #2D2E83;
            font-size: 90%;
            font-weight: bold;
            text-transform: uppercase;
            font-style: normal;
        }

        tbody {
            tr {
                transition: all 125ms ease-in-out;
                &:hover {
                    background: #E4E4F666;
                }

                &.clickable {
                    cursor: pointer;
                }
            }
        }
    }

    > .empty {
        width: 100%;
        text-align: center;
        padding: 100px;
        font-style: italic;
    }


}

.pagination {
    display: flex;
    border-top: 1px solid #E4E4F666;
    padding: 6px 36px;
    padding-left: 82%;
    justify-content: center;
    align-items: center;
    > * {
        margin: 1px 8px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    a.active {
        font-weight: bold;
    }

    button.toolbutton {
        color:#5452EB;
        width: 24px;
        height: 24px;
        min-width:24px;
        max-width:24px;
        min-height:24px;
        max-height:24px;

    }

    b {
        color: #2D2E83;
        font-size: 90%;
        font-weight: bold;
        text-transform: uppercase;
        font-style: normal;
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }
    .kpi {
        border-radius: 6px;
    }
}

.card .datatable .pagination {
    padding-left:initial;
}