.flag-icon {
    width: 45px;
    height: 20px;
    &.flag-icon-null {
        background:url("https://upload.wikimedia.org/wikipedia/commons/2/2f/Missing_flag.png");
        background-size: 38px 20px;
        background-repeat: no-repeat;
        background-position: 0px 2px;
    }
}
