.grid {
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    padding: 24px;

    > .card {
        grid-column: span 6;
    }

    > h1 {
        grid-column: span 12;
    }

    > .datatable {
        grid-column: span 12;
    }
}