.palette {
    display: flex;
    position: fixed;
    top: 30vh;
    right: 16px;
    min-width: 150px;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 4px 4px 36px #0002;
    border: 1px solid #eee;
    background: white;
    transition: all 125ms ease-in-out;
    overflow: hidden;
}