.progress {
    height:8px;
    overflow: visible;
    > * {
        height: 8px;
        overflow: visible;
        background:linear-gradient(90deg,  #5d4ff2, #5d4ff2, #2d2e83);
        position: relative;
        border-radius: 6px;
        transition: none;
        padding: 0px;
        padding-left: 10px;
        > span {
            position: absolute;
            right: 0px;
            background: #2d2e83;
            padding: 0px 3px;
            font-size: 80%;
            font-weight: bold;
            border-radius: 6px;
            margin: 0;
            width:30px;
        }
    }
    min-width: 300px;
}