.rates {
    white-space: nowrap;
    margin-right: 10px;
    >:first-child {
        background: #93d793;
        color: #005500;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-right: -1px;
    }
    >:last-child {
        background: #ff8b8b;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-left: 6px;
        color: #7d0000;
    }
    .badge {
        text-transform: initial;
        font-size: 90%;
        padding: 1px 2px;
    }
    .zero {
        opacity: 0.4;
    }
}