.severities {
    cursor: default;
    display: flex;
    align-items: center;
    margin: 2px 0px;

    > span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        position:relative;
        color:transparent;
        background: #7d7d8566;
        border-radius: 20px;
        overflow: hidden;
        margin: 1px 2px;
        padding: 0px 6px;

        &.zero {
            opacity: 0.3;
            border-color: transparent !important;
        }

        > span {
            position:absolute;
            left:0;right:0;bottom:0;
            height:50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        >b {
            color:white;
            text-shadow: 0px 0px 4px #0003;
            position:absolute;
            left:0;right:0;bottom:0;top:0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.sev-critical {
    border: 2px solid #d52e23;
    > span {
        background: #d52e23;
    }
}
.sev-high {
    border: 2px solid  #e69100;
    > span {
        background: #e69100;
    }
}
.sev-medium {
    border: 2px solid  #fac400;
    > span {
        background: #fac400;
    }
}
.sev-low {
    border: 2px solid #b6bc38;
    > span {
        background: #b6bc38;
    }
}