.task-status {
    display: inline-block;
    background: red;
    border-radius: 50%;
    width:24px;
    height: 24px;
    margin: 2px 4px;
    margin-left: 16px;
    &.running {
        background:green;
    }
}