button.toolbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: .875rem;
    border:none;
    background: none;
    color:#140050;
    border-radius:50%;
    transition: all 125ms ease-in-out;
    outline: none;
    padding: 4px;
    width: 50px;
    height: 50px;
    margin: -10px -8px;
    min-width: 50px;
    min-height: 50px;

    &:hover {
        background: #3c00bd25;
        > span {
            transform: none;
        }
    }

    &:active {
        transition: 0s;
        background: #14005079;
        color:white;
    }

    &:disabled {
        background:none !important;
        padding: 0;
    }
}