@import url('https://fonts.cdnfonts.com/css/inter');

body {
  font-family: "Inter", "Open Sans", sans-serif;

  &.busy {
    cursor: wait;
  }
}

.loading {
  position: absolute;
  top:0; left:0; right:0;
  display: block;
  background-image: linear-gradient(to right, transparent, transparent, #5452EB, transparent, transparent);
  height:4px;
  background-size: 800%;
  animation: loading 1.2s linear reverse infinite;
}

@keyframes loading {
	0% {   background-position-x: 0%;  }
	100% {   background-position-x: 100%;  }
}


h1 {
  padding-left: 24px;
  padding-top: 24px;
}

h1, h2, h3, h4 {
  color: #21225F;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin:0;
}

h4 {
  font-size:12px;
  line-height: 18px;
  margin:0;
  color:#6D6E9C;
}

#wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  min-height:100vh;
  width:100vw;
}

main {
  flex:1;
  max-height: 100vh;
  overflow-y: auto;
  background: #eee;
}

code {
  background: #dcdcfa78;
  color:#1f1f58;
  margin: 4px;
  border-radius: 8px;
  font-size: 90%;
  overflow-wrap: break-word;
  transition: all 125ms ease-in-out;
  overflow: hidden;
  pre {
    overflow-x: auto;
    height:100%;
    font-size: 16px;
    margin:0;
    padding: 16px 16px 16px 12px;
    &::-webkit-scrollbar {
      height:3px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgb(190, 190, 241);
    }

  }

  &:hover {
    background:#dcdcfa;
  }
  &.oneliner {
    display: flex;
    align-items: center;
    position: relative;
  }
  .blur {
    height: 100%;
    background: rgb(231 231 252);
    padding: 3px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 32px #e7e7fc;
  }
}

p.flex {
  > span.material-icons:first-child {
    margin-right: 12px;
  }
}

.flex {
  display: flex;
  align-items: center;

  &.wrap {
    flex-wrap: wrap;
  }

  &.right {
    float:right;
  }
  &.gap {
    > * {
      margin: 0px 6px;
      &:first-child { margin-left: 0px;}
      &:last-child { margin-right: 0px;}
    }
  }
}

.col {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 1;
}

.spacer {
  flex:1;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

a {
  text-decoration: none;
  color:#5452EB;
  &:hover {
    color:#5452EB;
    text-decoration: underline;
  }
}

input {
    background: #f8f9fc;
    color: #21225f;
    font-size: 0.875rem;
    line-height: 1.5;
    outline: none;
    border-radius: 8px;
    border: 1px solid #b2b2e4;
    padding: 6.5px 12px;
    width: 100%;
}

em {
    font-size: 14px;
    color: #2D2E83;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    margin-right: 8px;
}

.nowrap {
  white-space: nowrap;
}
